@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.g-btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	line-height: 22px;
	font-weight: 700;
	font-family: 'Open Sans';
	text-transform: uppercase;
	padding: 10px 30px;
	border: none !important;
	border-radius: 3px;
	-webkit-transition: all 0.25s ease;
	        transition: all 0.25s ease;
	}
	.g-btn:active {
		top: 1px;
		}
		.g-btn span {
			position: relative;
			}
	/* TYPE: default */
	.g-btn.type_default {
		box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
		background-color: #f0f0f0;
		color: #666;
		}
		.g-btn.type_default:hover {
			box-shadow: 0 0 0 26px rgba(0,0,0,0.1) inset;
			color: #333;
			}
	/* TYPE: primary */
	.g-btn.type_primary {
		box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
		background-color: #f8862c;
		color: #fff;
		}
		.g-btn.type_primary:hover {
			box-shadow: 0 0 0 26px rgba(0,0,0,0.1) inset;
			color: #fff;
			}
	/* TYPE: secondary */
	.g-btn.type_secondary {
		box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
		background-color: #666;
		color: #fff;
		}
		.g-btn.type_secondary:hover {
			box-shadow: 0 0 0 26px rgba(0,0,0,0.1) inset;
			color: #fff;
			}
	/* TYPE: outline */
	.g-btn.type_outline {
		box-shadow: none;
		background-color: transparent;
		color: #666;
		}
		.g-btn.type_outline:hover {
			box-shadow: none;
			color: #fff;
			}
		.g-btn.type_outline:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 0;
			border-radius: 3px;
			-webkit-transition: box-shadow 0.25s ease;
					transition: box-shadow 0.25s ease;
			box-shadow: 0 0 0 2px #333 inset;
			opacity: 0.5;
			}
			.g-btn.type_outline:hover:before {
				box-shadow: 0 0 0 26px #333 inset;
				}
	/* SIZE: small */
	.g-btn.size_small,
	input.g-btn.size_small,
	button.g-btn.size_small {
		padding: 5px 20px;
		font-size: 12px;
		}
	/* SIZE: big */
	.g-btn.size_big,
	input.g-btn.size_big,
	button.g-btn.size_big {
		padding: 15px 40px;
		font-size: 16px;
		}